<?xml version="1.0" encoding="utf-8" ?>
<!--版本号-->
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="IP" value="127.0.0.1" />
    <add key="gePort" value="com8" />
    <add key="geIp" value="192.168.100.18" />


    <!--服务端ip-->
    <add key="kmIp" value="192.168.100.101" />
    <add key="kmRoomIp" value="192.168.0.99" />

	  
    <!--客户端设备ip-->
    <add key="khdserverIP" value="127.0.0.1" />
    <add key="khdserverPort" value="8080" />
    <add key="khdIp" value="192.168.100.101" />

    <add key="T5Ip" value="192.168.1.136+192.168.0.88+192.168.0.84" />
	  <add key="xqycom" value="com1" />
	  
  </appSettings>
</configuration>
